{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "strict": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
